// ######################## CZĘŚĆ Angular Material ########################

// ############ recipe-reactive-form.component.scss - krok 2 ############

.reactive-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-control-full-width {
    width: 100%;
  }

// ############ ############
// ######################## ########################