//   Wyjaśnienie: W powyższym przykładzie zmieniamy kolory nagłówków oraz dodajemy proste style dla listy przepisów.

// #####################    recipe-list.component.scss    #####################
.header {
    text-align: center;
  }

h3 {
    color: #ff6347;
    font-size: 1.5em;
  }
  
li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
li:hover {
    background-color: #f9f9f9;
  }
  
p {
    color: #555;
  }
// #####################

// #####################    recipe-details.component.scss    #####################
.container {
  &--selected{
      border: 2px dashed #000000;
      margin: 10px 0;
      padding: 15px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
  }
  p {
      color: #555;
    }

  h2 {
      color: #555;
      font-size: 1.5em;
    }
}
// #####################