<!-- Krok 4 - recipe-list-element.component.html -->
<article *ngIf="recipe" (click)="onRecipeClick(recipe)">
    <h3>{{ recipe.title }}</h3>
    <p>{{ recipe.description }}</p>
    <p>Poziom trudności: {{ recipe.difficulty }}</p>
    <p>Czas przygotowania: {{ recipe.preparationTime }} minut</p>
</article>
<!--  -->

<!-- Krok 4 - recipe-detail.component.html -->
<article *ngIf="recipe" (click)="onRecipeClick(recipe)">
    <h2>{{ selectedRecipe.title }}</h2>
    <p>{{ selectedRecipe.description }}</p>
    <p>Poziom trudności: {{ selectedRecipe.difficulty }}</p>
    <p>Czas przygotowania: {{ selectedRecipe.preparationTime }} minut</p>
</article>
<!--  -->

<!-- Krok 5 - recipe-list-element.component.html -->
<article *ngIf="recipe" (click)="onRecipeClick(recipe)">
    <h3>{{ recipe.title }}</h3>
    <p>{{ recipe.description }}</p>
    <p>Poziom trudności: {{ recipe.difficulty }}</p>
    <p>Czas przygotowania: {{ recipe.preparationTime }} minut</p>
    <button (click)="onDeleteRecipe(recipe.id)">Usuń</button>
</article>
<!--  -->

<!-- krok 5 - recipe-list.component.html -->
<h2 class="header">Lista Przepisów</h2>
<section>
    <ul>
        <li *ngFor="let recipe of recipes"
            [ngClass]="{'element-selected': selectedRecipeTitle === recipe.title}">
            <app-recipe-list-element [recipe]="recipe"
                (recipeRemoved)="onDeleteRecipe($event)"
                (recipeSelected)="onRecipeClick($event)"></app-recipe-list-element>
        </li>
    </ul>
</section>
<!--  -->