<mat-card class="form-card">
    <mat-card-title>{{ recipeFormGroup.get('title')?.value ? 'Edytuj Przepis' :
        'Dodaj Nowy Przepis' }}</mat-card-title>
    <form [formGroup]="recipeFormGroup" (ngSubmit)="onSubmit()">
        <!-- Tytuł przepisu -->
        <mat-form-field>
            <mat-label>Tytuł przepisu</mat-label>
            <input matInput type="text" formControlName="title" />
            <mat-error
                *ngIf="recipeFormGroup.get('title')?.hasError('required')">
                Tytuł jest wymagany
            </mat-error>
            <mat-error
                *ngIf="recipeFormGroup.get('title')?.hasError('minlength')">
                Tytuł musi mieć co najmniej 3 znaki
            </mat-error>
        </mat-form-field>

        <!-- Opis przepisu -->
        <mat-form-field>
            <mat-label>Opis: </mat-label>
            <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" type="text"
                formControlName="description"></textarea>
            <mat-error
                *ngIf="recipeFormGroup.get('description')?.errors?.required">Składniki
                są wymagane
            </mat-error>
        </mat-form-field>

        <!-- Składniki -->
        <mat-form-field>
            <mat-label>Składniki (minimum 2):</mat-label>
            <mat-select
                formControlName="ingredients" multiple>
                @for (popularIngredient of popularIngredients; track
                popularIngredient) {
                <mat-option
                    [value]="popularIngredient">{{popularIngredient}}</mat-option>
                }</mat-select>
            <mat-error
                *ngIf="recipeFormGroup.get('ingredients')?.errors?.required">Składniki
                są wymagane
            </mat-error>
        </mat-form-field>

        <!-- Poziom trudności -->
        <mat-form-field>
            <mat-label>Poziom trudności wykonania :</mat-label>
            <select matNativeControl required formControlName="difficulty">
                <option value="hard">hard</option>
                <option value="medium">medium</option>
                <option value="easy">easy</option>
            </select>
        </mat-form-field>

        <!-- Czas przygotowania -->
        <mat-form-field>
            <mat-label>Czas wykonania (w minutach):</mat-label>
            <input matInput type="text"
                formControlName="preparationTime" />
            <mat-error
                *ngIf="recipeFormGroup.get('preparationTime')?.errors?.required">Czas
                wykonania jest wymagany
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit"
            [disabled]="recipeFormGroup.invalid">Zapisz</button>
        <button mat-button color="warn" type="button"
            routerLink="/recipes">Anuluj</button>
    </form>
</mat-card>