.header {
  text-align: center;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #7f7f7f;
}

.element-selected {
  background-color: #7f7f7f;
}
