.container {
    &--selected{
        border: 2px dashed #000000;
        margin: 10px 0;
        padding: 15px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    p {
        color: #555;
      }

    h2 {
        color: #555;
        font-size: 1.5em;
      }
}